name: dotnet package

on:
  push:
    tags: [v*.*]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ['8.0']
    defaults:
      run:
        working-directory: ./FsGrpc
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}.x
        uses: actions/setup-dotnet@v2.0.0
        with:
          dotnet-version: ${{ matrix.dotnet-version }}.x
      - name: Display version
        run: dotnet --version
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Publish
        env:
          FSGRPC_VERSION: ${{github.ref_name}}
        run: dotnet publish -p:FSGRPC_VERSION=${FSGRPC_VERSION#v} --no-restore --no-build --configuration Release
      - name: Package
        env:
          FSGRPC_VERSION: ${{github.ref_name}}
        run: dotnet pack -p:FSGRPC_VERSION=${FSGRPC_VERSION#v} --no-restore --no-build --configuration Release
      - name: Nuget Push
        env:
          FSGRPC_VERSION: ${{github.ref_name}}
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: dotnet nuget push bin/Release/FsGrpc.${FSGRPC_VERSION#v}.nupkg --api-key "$NUGET_API_KEY" --source https://api.nuget.org/v3/index.json --skip-duplicate
      - name: GitHubRelease
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ./FsGrpc/bin/Release/FsGrpc.$($env:GITHUB_REF -replace "refs/tags/").nupkg
      - name: Login to Buf.Build Docker
        uses: docker/login-action@v2
        with:
          registry: plugins.buf.build
          username: notused
          password: ${{ secrets.BUF_TOKEN }}
      - name: Buf Plugin Push
        uses: docker/build-push-action@v3
        with:
          file: Dockerfile.plugin
          push: true
          tags: plugins.buf.build/divisions-maintenance-group/fsharp:${{github.ref_name}}


